<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" backupGlobals="false" colors="true"
         bootstrap="tests/integration/bootstrap.php" failOnRisky="true" failOnWarning="true">
    <coverage>
        <include>
            <directory>src/Model</directory>
            <directory>src/Query</directory>
            <directory>src/Repository</directory>
        </include>
    </coverage>
    <php>
        <ini name="error_reporting" value="-1"/>
    </php>
    <testsuites>
        <testsuite name="integration">
            <directory>./tests/integration</directory>
        </testsuite>
    </testsuites>
</phpunit>
